{% extends "public/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col justify-content-center">
                <h1 class="mt-5 display-1 text-center">
                    Thank you!
                </h1>
                <p class="mt-5 text-center">
                    Thanks for signing up for Rolorex early access. You should see an email in your
                    Inbox. We'll be in touch soon with additional details.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
